<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body>
    {% include "partials/header.html" %}
    <main>

        <p class="notice">Click on a subject to see all the posts tagged with that subject. The latests posts are below. Older posts are in the archive. Use the feed at the bottom to send posts to your reader of choice.</p>

        <!-- Get all the tags from posts, filter "all" an "posts", sort alphabetically -->

        {% set allTags = [] %}
        {% for post in collections.all %}
            {% if post.data.tags %}
                {% for tag in post.data.tags %}
                    {% if tag not in allTags %}
                        {% set allTags = allTags.concat([tag]) %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        <h2>Posts by Subject</h2>
        <p>
            {% for tag in allTags | filterTagList | sortTags %}
                <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>

        <!-- The latest posts -->
        <h2>Latest Posts</h2>
        <!-- All of the blog posts, displayed as articles, in chronological order -->
        {{ content | safe }}

        <h2>{% include "partials/blogFeedLink.html" %}</h2>

    </main>
    {% include "partials/footer.html" %}
</body>
</html>