<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/simple.css">
    <title>Brian's Website</title>
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "partials/footer.html" %}
</body>
</html>