<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}
<body>
    {% include "partials/headerPost.html" %}
    <main>
        {{ content | safe }}
        <p><strong>Tags:</strong>
            {% for tag in tags | filterTagList | sortTags %}
                <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% include "partials/feedLink.html" %}
        {% include "partials/backToBlog.html" %}
    </main>
    {% include "partials/footer.html" %}
</body>