<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.html" %}
    <body>
        <header>
            <!-- add nav bar if needed -->
            <h1>{{ title }}</h1>
            <a href="/">Brian's Website</a>
        </header>
    <main>

        <h2 id="tags"><i class="fa-solid fa-tags"></i> Posts by Subject</h2>
        {% include "partials/allPostTags.njk" %}

        {{ content | safe }}


    </main>
    {% include "partials/footer.html" %}
</body>
</html>